<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                HTML UnEscaper
            </div>
            <div class="panle-body">
                <form action="" method="POST" class="form-horizontal">
                    <textarea height="300" id="json" name="json" class="form-control"></textarea>
                    <button class="btn btn-block btn-danger">Unescape it ...</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
